@import "tailwindcss";

:root {
  --background: #fdfbf7; /* Warna putih gading/warm white yang elegan */
  --foreground: #1c1917; /* Warna teks gelap lembut */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}
